<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>后台管理模板</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../../static/css/matrix-style.css" />
    <link rel="stylesheet" href="../../static/css/matrix-media.css" />
    <link href="../../static/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <!--Header-part-->
    <div id="header">
      <h1><a href="dashboard.html">智慧停车系统平台</a></h1>
    </div>
    <!--close-Header-part--> 

    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li  class="dropdown" id="profile-messages" >
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon icon-user"></i>&nbsp;
                    <span class="text">
						欢迎你，admin</span>&nbsp;
                    <b class="caret"></b>
                </a>
           </li>
            <li class="">
            <a title="" href="login.html">
            <i class="icon icon-share-alt"></i>
                <span class="text">退出系统</span></a>
            </li>
        </ul>
    </div>
    <!--close-top-Header-menu-->

    <!--start-top-serch-->
   
    <!--close-top-serch-->

    <!--sidebar-menu-->
    <div id="sidebar" style="OVERFLOW-Y: auto; OVERFLOW-X:hidden;">
        <ul>
		    <li class="submenu active">
                <a class="menu_a" link="/parking/index2"> <i class="icon icon-th"></i> <span>搜索界面</span></a>
            </li>
          
            <li class="submenu">
				<a href="#">
                    <i class="icon icon-th"></i> 
                    <span>消息界面</span> 
                    <span class="label label-important">2</span>
                </a>
				<ul>
                    <li><a class="menu_a" link="buttons.html"><i class="icon icon-caret-right"></i> 系统消息</a></li>
                    <li><a class="menu_a" link="grid.html"><i class="icon icon-caret-right"></i>订单消息</a></li>
                  
                </ul>
            </li>
			<li class="submenu">
                <a class="menu_a" link="index2"> <i class="icon icon-th"></i> <span>订单列表</span></a>
            </li>
         
            <li class="submenu"> 
                <a href="#">
                    <i class="icon icon-th"></i>
                    <span>我的</span> 
                    <span class="label label-important">3</span>
                </a>
                <ul>
                    <li><a class="menu_a" link="error403.html"><i class="icon icon-caret-right"></i>用户信息</a></li>
                    <li><a class="menu_a" link="error404.html"><i class="icon icon-caret-right"></i>我的钱包</a></li>
                    <li><a class="menu_a" link="error405.html"><i class="icon icon-caret-right"></i>意见反馈</a></li>
               
                </ul>
            </li>
        </ul>
    </div>
    <!--sidebar-menu-->

    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
          <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
        </div>
        <!--End-breadcrumbs-->
        <iframe src="/parking/index2" id="iframe-main" frameborder='0' style="width:100%;"></iframe>
    </div>
    <!--end-main-container-part-->

    <script src="../../static/js/excanvas.min.js"></script>
    <script src="http://www.jq22.com/jquery/jquery-1.7.1.js"></script>
    <script src="../../static/js/jquery.ui.custom.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../static/js/matrix.js"></script>


    <script type="text/javascript">

    //初始化相关元素高度
    function init(){
        $("body").height($(window).height()-80);
        $("#iframe-main").height($(window).height()-90);
        $("#sidebar").height($(window).height()-50);
    }

    $(function(){
        init();
        $(window).resize(function(){
            init();
        });
    });

    // This function is called from the pop-up menus to transfer to
    // a different page. Ignore if the value returned is a null string:
    function goPage (newURL) {
        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {
            // if url is "-", it is this page -- reset the menu:
            if (newURL == "-" ) {
                resetMenu();            
            } 
            // else, send page to designated URL            
            else {  
                document.location.href = newURL;
            }
        }
    }

    // resets the menu selection upon entry to this page:
    function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
    }

    // uniform使用示例：
    // $.uniform.update($(this).attr("checked", true));
    </script>
</body>
</html>
