<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terminator.smart.parking.dao.WalletDao">

    <insert id="insertWallet" parameterType="com.terminator.smart.parking.entity.Wallet">
        INSERT INTO wallet (
        user_id,
        wallet_balance
        )
        VALUES
	    (
	    #{user_id},
	    #{wallet_balance}
	    )
    </insert>

    <update id="updateWallet">
        UPDATE wallet
        SET
        wallet_balance = #{wallet_balance}
        WHERE
	    user_id = #{user_id}
    </update>

    <select id="selectBalance" resultType="com.terminator.smart.parking.entity.Wallet">
        SELECT
	    wallet_balance
        FROM
	    wallet
        WHERE
	    user_id = #{user_id}
    </select>

</mapper>